<form novalidate class="row justify-content-md-center" #form="ngForm">
  <div class="col-md-8">
    <div class="form-group row">
      <label for="example-text-input" class="col-md-2 col-form-label" ngModel
        >Name:</label
      >
      <div class="col-md-10">
        <input class="form-control" type="text" id="example-text-input" name="name" ngModel/>
      </div>
    </div>
    <div class="form-group row">
      <label for="example-email-input" class="col-md-2 col-form-label"
        >Email:</label
      >
      <div class="col-md-10">
        <input class="form-control" type="email" id="example-email-input" />
      </div>
    </div>
  </div>
</form>
<h1>{{form.value |json}}</h1>